<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <br />

    <div class="place_photo col-12">
    <% if place.photos.present? %>
      <%= image_tag place.photos.last.picture.url, class: 'img-fluid' %>
    <% end %>
  </div>



    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= truncate(place.comments.last.message, :length => 35) %>
          <br />
          -<small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
<br />

<div class="col-4 offset-4">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
