<div class="booyah-box col-10 offset-1">
  <h1>Enter A New Place</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Add', class: 'btn btn-success active' %>
  <% end %>
</div>
